


#mainreview
{
    padding: 0px 150px 0px 5px;
    float: right;
    
}

#logoimage
{
    width: 15%;
    padding:10px;
    margin-left: 80px;
    margin-top: -10px;
    
    
}

.customcontainer
{
    margin: 25px 100px 20px 100px;
    width: 75%;
    border:10px solid #be0000;
    padding:25px 75px 25px 50px;
    color:#be1515;
    background: #ffffff;
    
}

.customenu
{
    color: #be0000;
    font-size: 20px;
    font-family: verdana;
    background: #ffffff;
}


#footer
{
    background:#ffffff;
    position: relative;
    margin-top: -75px;
    height: 150px;
    clear:both;
    padding-top:20px;    
}

#footerlogo
{
    
    width: 150px;
    height: 75px;
    margin-right: 25px;
    float: right;
}

.footerpara
{
    margin-bottom: 25px;
    font-family: 'verdana', sans-serif;
    margin-right: 25px;
    
}



    







